# frontend public wesite
/public

# private enviroment .env file
.env

# compiled local binary file
hotels_api*
hotels_api*.exe
app.exe

# hotels list
/hotels

# hotels database
*.sql

# test temp directory and files
/test/temp/

# VS Code folder
/.vscode
